<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input #input type="text" class="form-control" placeholder="Buscar hospitales..." (keyup)="search(input.value)">
      </div>
    </div>
  </div>
</div>
<div *ngIf="loading" class="row animated fadeIn">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong>Cargando</strong>
      <br>
      <i class="fa fa-refresh fa-spin fa-2x"></i>
      <br>
      <span>Espere por favor</span>
    </div>
  </div>
</div>
<div *ngIf="!loading" class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="text-right">
          <button (click)="newHospital()" class="btn waves-effect waves-light btn-rounded btn-primary">
            <i class="fa fa-plus"></i>
            Crear Hospital
          </button>
        </div>
        <h3 class="card-title">Hospitales registrados
          <small> ( {{total}} )</small>
        </h3>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Imagen</th>
              <th>Nombre</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let hospital of hospitales">
              <td class="w70">
                <img (click)="showModal(hospital._id)" [src]="hospital.img | imagen:'hospital'" alt="" class="img-50 pointer">
              </td>
              <td>
                <input type="text" class="form-control" [(ngModel)]="hospital.nombre">
              </td>
              <td>
                <button class="btn btn-primary" (click)="updateHospital(hospital)">
                  <i class="fa fa-save"></i>
                </button>
                <button class="btn btn-danger" (click)="deleteHospital(hospital)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <div>
          <button (click)="nextPage(-5)" class="btn btn-secondary">
            Anteriores
          </button>
          <button (click)="nextPage(5)" class="btn btn-secondary">
            Siguientes
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
